body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul{ list-style:none; }
a, *[href] { text-decoration:none; cursor: pointer; color: #333;}
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }

html, body {
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    background: url("../bg.jpg") no-repeat;
    background-size: cover;
}

.bg-green {
  background-color: #3caf36;
}
.bg-greenlight {
  background-color: #4bc0a5;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #3f495b;
}
.bg-orange {
  background-color: #ffb300;
}
.bg-orangelight {
  background-color: #ffbe29;
}
.bg-red {
  background-color: #ea3434;
}
.bg-pale {
  background-color: #f6f9f9;
}
.bg-gray {
  background-color: #cacaca;
}
.text-green {
  color: #3caf36;
}
.text-init {
  color: #666666;
}
.text-red {
  color: #ea3434;
}
.text-blue {
  color: #0087ca;
}
.text-orange {
  color: #ffb300;
}
.text-yellow {
  color: #fdfd90;
}
.text-white {
  color: #fdfdfd;
}
.text-gray {
  color: #cacaca;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.font-bold {
  font-weight: bold;
}
.font-normal {
  font-weight: normal;
}
.font-bigger {
  font-size: 1.2em;
}
.font-big {
  font-size: 24px;
}
.cursor-pointer {
  cursor: pointer;
  padding: 15px;
}
.padding-24 {
  padding: 24px;
}
.padding-15 {
  padding: 15px;
}
.padding-10 {
  padding: 10px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-bottom-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.padding-5 {
  padding: 5px;
}
.padding-right-15 {
  padding-right: 15px;
}
.border-bottom {
  border-bottom: 1px solid #4bc0a5;
}
.link:hover {
  cursor: pointer;
}
.hover-black:hover {
  background-color: #3a3f45;
}

.scrollbar {
  overflow-y: auto
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
}
.scrollbar::-webkit-scrollbar-track {
    background-color: #fdfdfd;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 4px;
    border-radius: 4px;
} /* 滚动条的滑轨背景颜色 */

.scrollbar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(25, 25, 25, 0.7); 
} /* 滑块颜色 */

.scrollbar::-webkit-scrollbar-button {
    display: none;
    background-color: #7c2929;
} /* 滑轨两头的监听按钮颜色 */


.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix:after {
  content: '';
  height: 0;
  display: block;
  clear: both; 
}